#bg{
    position: fixed;
    top: -100%;
    left: -100;
    width: 200%;
    height: 200%;
  }
  #bg img{
    position: absolute;
    top: 30;
    left: 0;
    right: 70;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height:50%;
  }
  
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');*/
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(223, 34, 34, 0.295);
}
.content
{
  background-color: rgba(246, 175, 82, 0.322);
  padding: 85px 200px;
}
.title
{
  background-color: rgba(246, 120, 82, 0.623);
  padding: 85px 200px;
}
.container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color:#5d5d5d;
    font-size: 21px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: blueviolet;
    padding:12px 40px;
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color:#fff;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i{
    color:#a52a2a;
    font-size: 30px;
    padding:0px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;
}
@media screen and (max-width: 768px){
    .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top:50px;
}

.content-section .title{
    text-align: center;
    font-size: 19px;
}
.content-section .content .button{
    text-align: center;
}
.content-section .content .button a{
    padding:9px 30px;
}
.content-section .social{
    text-align: center;
}

}
