<div id="bg">
  <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/health4_26_airpollguide_istock_2796602_2400.jpg?itok=n2tBYa7S" alt="">
  
</div> 
<header>
    <div class="container">
      <a routerLink="/" class="logo">Pollution Check</a>
      <nav>
        <ul>
          <li>
            
            <a routerLink="/" class="logo">Login</a>      
          </li>     
        </ul>
      </nav>
    </div>
  </header>

<section class="joinnow">
  
  <div class="login col-lg-4 m-auto shadow-lg">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="myform" (ngSubmit)="register()">

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter your details 
                </h5>

                <div class="form-outline mb-4">
                  <input type="text" id="form2Example17" placeholder="Enter user name"
                    class="form-control form-control-lg" formControlName="username" />
                  <label class="form-label" for="form2Example17">User Name</label>
                </div>
                                  
                <div class="form-outline mb-4">
                  <input type="password" id="form2Example27" placeholder="Enter password"
                    class="form-control form-control-lg" formControlName="password" />
                  <label class="form-label" for="form2Example27">Password</label>
                </div>

                <div class="pt-1 mb-4">
                  <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
                </div>


                <p class="mb-5 pb-lg-2" style="color: #3b8139;">Already have an account? <a routerLink="/" class="logo"
                    style="color: #3f8139;">Sign in here</a></p>

              </form>
             </div>
               
            
</section>